.cart-container {
	padding: 1em 0;
}

.cart-container-title {
	padding: 0 1em;
}

.cart-container-title h3 {
	margin: 0;
}

.cart-books-container {
	padding: 0;
}

.basket-summary-container {
	margin: 1em 0;
	padding: 1em 0;
	box-shadow: 0 0 2px 0 var(--primary-color-light);
	overflow-x: hidden;
}

.basket-summary-header {
	padding: 0 1em;
}
