<section class="cart-container content">
	<div class="content cart-container-title">
		<h3>Mon panier ({{ basketData.itemsCount }})</h3>
	</div>

	<div class="content" *ngIf="!books || (books && !books.length)">
		<p>
			Vous n'avez aucun article dans votre panier pour le moment.
		</p>

		<app-action-button color="accent" routerLink="/" label="Commencer mes achats"></app-action-button>
	</div>

	<div class="col-xs-12 col-md-8 cart-books-container">
		<app-books [books]="books"  [booksGrid]="getBooksGrid()" [hideBooksCount]="true" hideBooksActionButtons="true"></app-books>
	</div>

	<div class="col-xs-12 col-md-4" *ngIf="books && books.length">
		<div class="basket-summary-container row content">

			<p class="basket-summary-header">
				<strong>Passe à la caisse</strong>
			</p>

			<hr/>

			<div class="clearfix">
				<span class="col-xs-5">Sous-total :</span>
				<strong class="col-xs-7 text-right">{{ basketData.totalPrice | price }}</strong>
			</div>

			<div class="clearfix">
				<span class="col-xs-5">Réduction :</span>
				<strong class="col-xs-7 text-right">- {{ basketData.discount | price }}</strong>
			</div>

			<hr class="col-xs-12"/>

			<div class="clearfix">
				<strong class="col-xs-5">TOTAL :</strong>
				<strong class="col-xs-7 text-right">{{ basketData.finalPrice | price }}</strong>
			</div>
		</div>

		<app-action-button color="accent" routerLink="/" label="Continuer mes achats"></app-action-button>

		<app-action-button color="primary" [label]="'Payer ' + (basketData.finalPrice | price)" (click)="proceedPayment()"></app-action-button>
	</div>
</section>
