.book-container {
	box-shadow: 0 0 2px 0 var(--primary-color-light);
	padding: 1em 0;
}

.book-img-container {
	overflow: hidden;
}

.book-img-container:after {
	content: "";
	display: block;
	padding-bottom: 100%;
}

.book-img-content {
	position: absolute;
	width: calc(100% - 1em);
	height: 100%;
	text-align: left;
	padding: 0;
}

.book-img-content img {
	height: 100%;
}

.book-title-container {
	height: 64px;
	overflow: hidden;
	font-weight: bold;
	text-decoration: none;
	color: #333;
	display: block;
	cursor: pointer;
}

.book-title-container:focus, .book-title-container:hover {
	outline: none;
	color: var(--primary-color-light);
	text-decoration: none;
}

.synopsis-button-container {
	position: absolute;
	bottom: 0;
	right: 1px;
}
