<div>
	<div *ngIf="book" class="book-container row">
		<div class="col-xs-6 book-img-container">
			<button mat-button color="primary" class="book-img-content" [routerLink]="getBookLink()">
				<img [src]="book.cover" [alt]="book.title">
			</button>
		</div>

		<div class="col-xs-6">
			<a class="book-title-container" [routerLink]="getBookLink()">
				{{ book.title }}
			</a>

			<p>
				<small>Prix unitaire : </small><strong>{{ book.price | price }}</strong>
			</p>

			<div class="col-xs-3 p0"  *ngIf="!showSynopsis">
				<button mat-icon-button color="accent" [routerLink]="getBookLink()">
					<mat-icon>visibility</mat-icon>
				</button>
			</div>

			<div class="col-xs-9 p0">
				<app-cart-actions [itemKey]="book.isbn" [unitPrice]="book.price"></app-cart-actions>
			</div>
		</div>

		<div class="col-xs-12 col-md-6" *ngIf="showSynopsis">
			<h4><strong>Synopsis</strong></h4>

			<p *ngFor="let paragraph of book.synopsis">
				{{ paragraph }}
			</p>
		</div>
	</div>

	<div class="col-xs-12 p0 mt1" *ngIf="showSynopsis">
		<app-action-button color="accent" routerLink="/" label="Continuer mes achats"></app-action-button>

		<app-action-button label="Mon panier" routerLink="/cart" color="primary"></app-action-button>
	</div>
</div>
