.cart-actions-container {
	position: relative;
	text-align: center;
	height: 40px;
	line-height: 40px;
	overflow: hidden;
}

.cart-actions-container button {
	position: absolute;
}

.cart-actions-remove {
	left: 0;
}

.cart-actions-add {
	right: 0;
}
