<div class="cart-actions-container">
	<button mat-icon-button color="primary" class="cart-actions-remove" [disabled]="!getCount()">
		<mat-icon (click)="removeFromCart()">remove_shopping_cart</mat-icon>
	</button>

	<strong>{{ getCount() }}</strong>

	<button mat-icon-button color="primary" class="cart-actions-add" [disabled]="getCount() >= this.max">
		<mat-icon (click)="addToCart()">add_shopping_cart</mat-icon>
	</button>
</div>
