<mat-toolbar color="primary" class="xeshop-header">
	<button mat-raised-button color="primary" class="xeshop-home" routerLink="/">
		<mat-icon>home</mat-icon>
	</button>

	<button mat-raised-button color="primary" routerLink="/" class="logo-button">
		<img class="logo" src="/assets/book.png"/>
	</button>


	<button mat-raised-button color="primary" class="xeshop-cart" routerLink="/cart">
		<mat-icon>shopping_cart</mat-icon>

		<span *ngIf="basketData.itemsCount" class="cart-count">{{ basketData.itemsCount }}</span>
	</button>
</mat-toolbar>
