.xeshop-header {
	position: fixed;
	justify-content: center;
	min-width: 320px;
	top: 0;
	right: 0;
	left: 0;
	z-index: 100;
}

.logo {
	height: 40px;
}

.xeshop-header button {
	box-shadow: none;
	position: absolute;
	top: 0;
	bottom: 0;
	min-width: 0;
	width: 64px;
}

.xeshop-home {
	left: 0;
}

.xeshop-cart {
	right: 0;
}

.cart-count {
	position: absolute;
	color: #000;
	background-color: #fff;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	line-height: 20px;
	overflow: hidden;
	font-size: 75%;
	right: 5px;
	text-align: center;
	text-overflow: ellipsis;
}

.xeshop-header .logo-button {
	width: auto;
}
