<section class="books-container content" *ngIf="books">
	<div class="books-count-container" *ngIf="!hideBooksCount">
		<strong>{{ books.length + ' ' + (books.length > 1 ? 'livres trouvés' : 'livre trouvé') }}</strong>
	</div>

	<div class="row">
		<div [class]="booksGrid + ' books-grid'"  *ngFor="let book of books">
			<app-book [book]="book"></app-book>
		</div>

		<div class="col-xs-12 books-grid books-action-button"  *ngIf="!hideBooksActionButtons">
			<app-action-button label="Mon panier" routerLink="/cart" color="primary"></app-action-button>
		</div>
	</div>
</section>
