.xbs-container {
	position: relative;
	min-height: 300px;
	background: url('/assets/home-books.jpeg') no-repeat;
	background-size: cover;
	background-position: center;
	display: table;
	width: 100%;
}

.search {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.search-panel {
	overflow: hidden;
}

.filter-panel-header {
	height: 64px!important;
}

.search-field {
	width: 90%;
}

.search-panel-content {
	text-align: left;
}
