<section class="xbs-container">
	<div class="search">
		<div class="content">
			<mat-expansion-panel #filterPanel class="search-panel">
				<mat-expansion-panel-header (click)="checkPanel($event, filterPanel)" class="filter-panel-header">
					<mat-form-field class="search-field">
						<input
							#searchInput
							(keydown)="ignorePanelOpen($event, searchInput)"
							(keyup)="filterBooks()"
							matInput
							placeholder="Rechercher un livre"
							[(ngModel)]="booksSvcData.filter.any"
						>
					</mat-form-field>
				</mat-expansion-panel-header>

				<div class="search-panel-content">
					<p>
						<strong>
							Euhh comment dire... il n'y a pas d'autres filtres <img src="/assets/il_est_genial.png" alt="énorme" width="20px"/>.
							 Utilisateur curieux? C'est bien ^^.
						</strong>
					</p>

					<p>
						A la base j'avais envie de rajouter des filtres extras mais au final il n'y avait que filtrer sur le prix qui restait cohérent vue le format de données...
					</p>

					<p>
						J'avais dans l'idée de faire un filtre par slide et après je me suis dit <em>"on verra à la fin"</em>.
					</p>

					<img src="/assets/il_est_genial.png" alt="énorme" width="45px"/>

					<strong>
						Je suis curieux de savoir pourquoi vous avez choisi ce format de test...
					</strong>
				</div>
			</mat-expansion-panel>

		</div>
	</div>
</section>
