:root {
	--primary-color: #6a205f;
	--primary-color-light: #b590af;
}

* {
	letter-spacing: 1px;
}

body {
	padding: 0;
	margin: 0;
	min-width: 320px;
}

.row {
	margin: 0;
}

.content {
	max-width: 1280px;
	margin: auto;
	padding: 1em;
}

hr {
	margin: 1em 0;
  border: 0;
  border-top: 1px solid #ede4ec;
}

.fw { width: 100%; }

.p0 { padding: 0; }
.mt1 { margin-top: 1em; }
